.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #76c2f1;
  height: 400px;
  max-width: 500px;

  .goal {
    display: block;
    margin-bottom: 5px;
  }

  .btnWrapper {
    display: flex;
    justify-content: center;
    width: 100%;

    .btn {
      max-width: 192px;
    }

    .hit {
      background: green;
      margin-right: 20px;
    }
  }
}
